---
layout: default
title: 屎样年华
---
<div class="content" id="home">
    <div id="sidebar-button">
        <img src="/images/sidebar-button.png">
    </div>
    {% for post in paginator.posts %}
    <div class="post-info">
        <div class="cover-photo-container">
            {% if  post.cover %}
            <img class="cover-photo" src="{{ post.cover }}">
            {% endif %}
        </div>
        <div class="info-container">
            <a href="{{post.url}}" class="post-title">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date:"%F %H:%M"}}</span>
            <span class="post-date">{{post.category}}</span>
        </div>
    </div>
    <div class="post">
        <div>
            {{ post.content  | | split:'<!--break-->' | first }}
        </div>
        <a href="{{post.url}}" class="post-read-more">阅读全文</a>
    </div>
    <div class="post-end-line"></div>
    {% endfor %}
    <div class="pager">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path |replace: '//', '/'}}">上一页</a>
        {% endif %}
        {% if paginator.page == 1 %}
            <span class="active">1</span>
        {% else %}
            <a href="/index.html">1</a>
        {% endif %}
        {% if paginator.page > 4 %}
        <span>…</span>
        {% endif %}
        {% for page in (2..paginator.total_pages) %}
            {% if page == paginator.page %}
                <span class="active">{{ page }}</span>
            {% else %}
                {% assign c1 = page|minus:paginator.page %}
                {% assign c2 = paginator.page|minus:page %}
                {% if page > paginator.page and c1 < 3 %}
                      <a href="/{{ site.paginate_path |  replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
                {% if paginator.page > page and c2 < 3 %}
                      <a href="/{{ site.paginate_path |  replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign c3 = paginator.page|plus:2 %}
        {% if c3 < paginator.total_pages %}
        <span>…</span>
        <a href="/{{ site.paginate_path |  replace: '//', '/' | replace: ':num', paginator.total_pages }}">{{paginator.total_pages }}</a>
        {% endif %}
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path|replace: '//', '/' }}">下一页</a>
        {% endif %}
    </div>
</div>
