<div class="sidebar" id="sidebar">
    <div class="header">
        <h1 class="title"><a href="/"><img id="logo" src="/images/lotus.png"></a></h1>
        <span class="tagline">一花一世界</span>
        <span class="tagline" style="padding-left: 3.2em;">一步一莲华</span>
    </div>
    <div class="posts">
        <ul class="posts-list">
            <li class="post-link">
                <a class="category-title " href="/category.html?category=The Time Of My Life">The Time Of My Life</a>
            </li>
            <li class="post-link">
                <a class="category-title " href="/category.html?category=Technology">Technology</a>
            </li>
            <li class="post-link">
                <a class="category-title " href="/category.html?category=Music">Music</a>
            </li>
            <li class="post-link">
                <a class="category-title " href="/category.html?category=Some Words">Some Words</a>
            </li>
        </ul>
    </div>
    <div class="footer">
          <span id="footer-links">
            <a href="/about.html" class="footer-link">About</a> <span class="separator">&bull;</span>
            <a href="http://www.tuishiben.com" class="footer-link">Twisber</a> <span class="separator">&bull;</span>
            <a href="https://github.com/JohnnieFucker" class="footer-link">GitHub</a>
          </span>
    </div>
</div>